div.img {
    margin: 5px;
    border: 10px solid #ccc;
    float: left;
    width: 180px;
}	

div.img:hover {
    border:10px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}
.title{
	color:white;
}
#container{
	padding: 40px;
}
